:root {
    --bg-main: #f0f2f5;
    --bg-body: #fff;
    --color-txt: #000;
    --filled-color: #000;
    --filled-bg: #caf0f8;

    --white: #fff;
    --blue: #00aeef;
    --red: #e91e63;
    --black: #000;

    --nav-size: 70px;
    --sudoku-cell-size: 50px;

    --border-radius: 10px;

    --space-y: 20px;

    --gap: 1px;

    --font-size: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;
}

.dark {
    --bg-main: #2a2a38;
    --bg-body: #1a1a2e;
    --color-txt: #6a6a6a;
    --filled-color: #4f4f63;
    --filled-bg: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Potta One", cursive;
    /* height: 100vh; */
    background-color: var(--bg-body);
    overflow-x: hidden;
}

input {
    font-family: "Potta One", cursive;
    border: 2px solid var(--bg-main);
    color: var(--color-txt);
}

input:hover,
input:focus {
    border-color: var(--blue);
}

#prompt::placeholder {
    text-align: center;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style-type: none;
}

nav {
    background-color: var(--bg-body);
    color: var(--color-txt);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 2px var(--bg-main);
    z-index: 99;
}

.nav-container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: var(--nav-size);
}

.nav-logo {
    font-size: var(--font-size-lg);
    color: var(--blue);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    font-size: var(--font-size);
    color: var(--blue);
}

.nav-container input[type=checkbox] {
    display: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    top: var(--nav-size);
}

.menu li:hover {
    background-color: var(--blue);
    border-radius: 5px;
    transition: 0.3s ease;
    color: var(--white);
}

.menu li.active {
    background-color: var(--blue);
    border-radius: 5px;
    color: var(--white);
}

.menu li {
    padding: 5px 14px;
}

.hamburger {
    display: none;
    font-size: var(--font-size-xl);
    user-select: none;
}

@media (max-width: 900px) {
    .menu {
        display:none;
        position: absolute;
        background-color: var(--bg-body);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    
    .menu li:hover {
        background-color: var(--blue);
        transition: 0.3s ease;
    }
    
    .menu li#active {
        background-color: var(--blue);
    }
    
    .menu li + li {
        margin-top: 12px;
    }
    
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger-toggle {
        height: auto;
        font-size: var(--font-size-xl);
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    
    .dropdown li:hover {
        background-color: #353535;
    }
}

@media (max-width: 500px) {
    .nav-logo {
        font-size: var(--font-size);
    }
}

.dark-mode-toggle {
    color: var(--blue);
    font-size: var(--font-size-lg);
    cursor: pointer;
}

.bxs-sun {
    display: none;
}

.bxs-moon {
    display: inline-block;
}

.bx-menu {
    font-size: var(--font-size-xl);
}

.dark .bxs-sun {
    display: inline-block;
}

.dark .bxs-moon {
    display: none;
}

.main {
    padding-top: var(--nav-size);
    place-items: center;
    display: grid;
    color: var(--color-txt);
}

.container {
    padding: var(--nav-size) 40px;
    margin-top: 50px;
    place-items: center;
    display: grid;
    color: var(--color-txt);
}

.blue-text {
    color: #00aeef;
}

.btn {
    height: 80px;
    width: 280px;
    background-color: var(--bg-main);
    color: var(--color-txt);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    font-size: var(--font-size-lg);
    cursor: pointer;
}

.btn-blue {
    background-color: var(--blue);
    color: var(--white);
}

.puzzles-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    margin-top: 30px;
}

.puzzle-img {
    width: 200px;
    margin: auto;
    display: block;
}

.dark > .container > .puzzles-container > div > a > .puzzle-img {
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(12deg) brightness(118%) contrast(100%);
}